body {
    font-family: 'Karla',sans-serif;
    margin-top: 0px;
    padding-top: 20px;
    margin-bottom: 80px;
    color:#666;
    border-top: 7px double #000;
}

.text p {
    line-height: 1.8rem;
    font-size: 1.1rem;
}

.container, .main {
    background-color: #fff;
}

.green {
    background-color: #81d742;
}

.white {
    background-color: #fff;
}

@font-face{ 
    font-family: 'Argon';
    src: url('css/argon-regular-webfont.woff') format('woff');
}

.header, .header-small {
    padding:0;
    background-color: #fff;
    margin-top: 40px;
    margin-bottom:40px;
    min-height: 100px;
}

.logo {
    text-align:center;
    font-family: 'Argon';
    font-size:7.7vmax;
    padding:0;
    text-align:center;
    color:#333;
    /*background-color:#000;*/
}

.logo a, .logo a:visited, .logo a:hover {
    color:#000;
}

.site-footer {
    background-color: #fff;
    color:#81d742;
    padding:10px;
}

.post h2 {
    margin-bottom: 0;
}

.post h1 {
    font-weight: normal;
    font-size:1.7rem;
}

.post .meta, .post .entry-meta {
    color:#666;
    margin-bottom:15px;
    font-size: smaller;
}

.post .social {
    color:#666;
    font-size: smaller;   
}

a {
    color:#ea4b2b;
}

.post h1 a {
    color:#333;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    font-size:1.7rem;
}

.section-header {
    margin-bottom: 30px;
}

.section-subtitle {
    font-size: smaller;
}

.log {
    padding:1em;
}

.log .post {
    margin:0;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
}

.log .post p {
    font-size: smaller;
    margin:0;
}

.log .post-title {
    font-family: "Helvetica",sans-serif;
    font-weight: bold;
}

.log .post-title a {
    /*color:#000;*/
    color:#ea4b2b;
    border:none;
}

.log .post-date {
    font-size: x-small;
    text-transform: uppercase;
    color:#ccc;
}

.blog {
    border-right: 1px solid #666;
}

.negative {
    background-color: #ea4b2b;
    color:#fff;
    padding:5px 10px;
}

#header {
    width: 100%;
    max-width: 1088px;
    margin: 0 auto 22px auto;
    text-align: center;
    font-family: Georgia,serif;
    background-image: url(img/bg.png);
    background-repeat: repeat-x;
}

#header #home-link {
    position: absolute;
    left: 50%;
    margin-left: -90px;
    top: 60px;
    padding: 22px 4px;
    background-color: #fff;
}

.share-buttons {
}

.share-buttons .wpsocialite {
    margin:0;
    padding:0;
    line-height:100%;
}

.share-buttons .wpsocialite.small > li {
    width:inherit;
    margin-right:20px;
}
.share-buttons .wpsocialite.small .socialite {
    width:auto;
}

.nav-links {
    margin-top:20px;
    margin-bottom:40px;
    padding-top:20px;
    padding-bottom:20px;
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc;
}

.entry-footer {
    margin-top:20px;
}

.post-spacer-hr:nth-of-type(4n+2) {
    border-bottom: 1px dashed rgba(226, 122, 168, 0.4);
}
.post-spacer-hr {
    height: 3rem;
    clear: both;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.12);
    margin-bottom: 3.5rem;
}


/* iphone 6, 6s */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { 
    .logo {font-size:6.8vmax;}
    .header { min-height: 60px; margin-top: 0px; margin-bottom: 0px;}
}

/* iphone 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { 
    .logo {font-size:6.8vmax;}
    .header { min-height: 60px; margin-top: 0px; margin-bottom: 0px;}
}

/* iphone 6+, 6s+, 7+, 8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) { 
    .logo {font-size:4.2vmax;}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
    .logo {font-size:13.5vmax;}
    .header { min-height: 60px; margin-top: 0px; margin-bottom: 0px;}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .logo {font-size:9.7vmax;}
    .header { min-height: 60px; margin-top: 0px; margin-bottom: 0px;}
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}


/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .logo {font-size:6.7vmax;}
    .header { min-height: 60px; margin-top: 0px; margin-bottom: 0px;}
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* iphone X */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 
    .logo {font-size:5.8vmax;}
    .header { min-height: 60px; margin-top: 0px; margin-bottom: 0px;}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
    .logo {font-size:8vmax;}
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
    .logo {font-size:8.1vmax;}
}